.Footer{
    width: 100%;
    height: 220px;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.footer-display{
    display: flex;
    gap: 90px;
}


#footer-logo{
    padding-top: 45px;
}

.menu-list-footer{
    display: flex;
    gap: 40px;
}

.first-column{
    padding-top: 25px;
}

.second-column{
    padding-top: 25px;
}

.third-column{
    padding-top: 25px;

}

.four-column{
    padding-top: 25px;

}

.input-container {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }

  #input-icon{
    position: absolute;
    left: 140px;
    top: 50%;
    transform: translateY(-50%);
    color: #fafafa;  
  }

#subscribe{
    border-radius: 10px;
    padding-left: 10px;
    height: 25px;
    border: 0;
    background-color: #414141;

}

@media (max-width:1024px){
    .Footer{
        width: 100%;
        height: 270px;
        background-color: #000000;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
        padding: 20px;
    }

    .footer-display{
        display: flex;
        gap: 90px;
    }
}

@media (max-width: 450px){

    .Footer{
        width: 100%;
        height: 520px;
        background-color: #000000;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
        /* padding: 20px; */
    }

    .footer-display{
        display: flex;
        flex-direction: column;
        /* gap: 90px; */
    }

    #footer-logo{
        padding-top: 45px;
        margin-left: 125px;
    }

    .four-column{
        /* padding-top: 25px; */
        text-align: center;
    }

    .menu-footer-items{
        display: block;
    }

    #input-icon{
        position: absolute;
        left: 230px;
        top: 50%;
        transform: translateY(-50%);
        color: #fafafa;  
      }
}