.second-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #F3F3F3;
    padding-top: 54px;
    padding-bottom: 54px;
    padding-left: 100px;
    padding-right: 100px;
}

.title-1{
    display: flex;
    /* justify-content: center; */
    /* gap: 15px; */
}

.title-1 h4{
    margin-top: 0;
    margin-left: 10px;
}

.title-2{
    display: flex;
    /* justify-content: center; */
    /* gap: 15px; */
}

.title-2 h4{
    margin-top: 0;
    margin-left: 10px;
}

.title-3{
    display: flex;
    /* justify-content: center;
    gap: 15px; */
}

.title-3 h4{
    margin-top: 0;
    margin-left: 10px;
}



@media (max-width:1024px){
    .second-section{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        background-color: #F3F3F3;
        padding-top: 54px;
        padding-bottom: 54px;
        padding-left: 170px;
        padding-right: 100px;
    }
    
}

@media (max-width:450px){

    .second-section{
        display: grid;
        grid-template-columns: repeat(1, 3fr);
        gap: 20px;
        background-color: #F3F3F3;
        padding-top: 54px;
        padding-bottom: 54px;
        padding-left: 50px;
        padding-right: 40px;
    } 

    .title-1{
        display: flex;
        justify-content: center;
        gap: 15px;
    }

    .title-2{
        display: flex;
        justify-content: center;
        gap: 15px;
    }
    
    .title-3{
        display: flex;
        justify-content: center;
        gap: 15px;
    }
}


