.three-section{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #000000;
    gap: 70px;
}

#img-three{
    width: 503px;
    border-radius: 15px;
}

.list-three-section{
    margin: 0;
}

